* {
   font-family: Helvetica, sans-serif;
   box-sizing: border-box;
   color: $main-text-color;
}

a {
   display: block;
   text-decoration: none;
   color: dodgerblue;
}


a:active {
   opacity: .9;
}

ul {
   list-style-type: none;
   padding-left: 0;
}

button {
   border: none;
}


button:focus {
   outline: none;
   border: none;
}

button:active {
   outline: none;
   border: none;
   opacity: .9;
}

h2 {
   font-size: 3rem;
   font-weight: normal;
   line-height: 1.21;
}

p {
   line-height: 1.88;
   letter-spacing: 0.3px;
}