.modal-overlay {
   position: fixed;
   width: 100vw;
   min-width: 100vh;
   height: 100%;
   background-color: transparentize(#000, .8);
   z-index: 2;
   opacity: 0;
   transition: opacity .25s ease;
   pointer-events: none;
   
   &--open {
      opacity: 1;
      pointer-events: auto;
      transition: opacity .2s ease;
   }
}

.additional-info-modal {
   position: fixed;
   top: 50vh;
   left: 50%;
   transform: translate(-50%, -20%);
   width: 400px;
   height: 300px;
   background: #fff;
   box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.5);
   opacity: 0;
   transition: opacity .25s ease, transform .15s ease;
   z-index: 3;
   pointer-events: none;
   
   &--open {
      opacity: 1;
      transform: translate(-50%, -50%);
      pointer-events: auto;
      transition: opacity .2s ease, transform .1s ease;
   }
   
   .close-btn {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      transform: rotate(45deg);
      
      &:before, &:after {
         content: '';
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         background-color: #444;
      }
      
      &:before {
         width: 2px;
         height: 20px;
      }
      
      &:after {
         width: 20px;
         height: 2px;
      }
   }
}