* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 20px 40px 0;
}

button {
    margin: 4px;
    padding: 3px 5px;
    background: transparent;
    border: 1px solid #222;
    border-radius: 4px;
    color: #222;
    cursor: pointer;
    transition: background-color .3s ease, color .3s ease, border-color .3s ease;
}

input {
    padding: 3px 5px;
    background: transparent;
    border: 1px solid #222;
    border-radius: 4px;
    transition: background-color .3s ease, color .3s ease, border-color .3s ease;
    color: #222;
    margin: 4px;
}

button:focus, input:focus {
    outline: none;
    background: azure;
    border-color: aquamarine;
}

button:hover {
    background-color: azure;
    border-color: aquamarine;
}

button:active {
    outline: none;
    background: aqua;
}

nav a {
    text-decoration: none;
    color: darkcyan;
}

nav a + a {
    margin-left: 1rem;
}
